body{
    text-align: center;
}

button{
    
    width: 500px;
    height: 70px;
    margin: 100px;
    background-color: aquamarine;
    border-radius: 100%;
    
}
button:hover{
    box-shadow: 10px 10px 10px;
    background-color: pink;
    transition: 5s;
}